!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Workshop Be MEAN - Adega
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body