<h2>Workshop Be MEAN</h2>
<p>Msg: {{ msg }}</p>

<table>
  <thead>
    <tr>
      <th data-ng-click="ordenar('name')">Name</th>
      <th data-ng-click="ordenar('price')">Price</th>
      <th>Acões</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat='cerveja in cervejas | orderBy:predicate:reverse'>
      <td>
        <a href="#/beers/{{cerveja._id}}">
          {{ cerveja.name }}
        </a>
      </td>
      <td>{{ cerveja.price }}</td>
      <td>
        <button data-ng-click="remove(cerveja)">
          Remover
        </button>
      </td>
    </tr>
  </tbody>
</table>